/app/target
/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
project.clj
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
version.txt
*.mp3
.nrepl-port
/tmp
/pkg
/_build
/docker
