body {
  background:url('/img/int-bg-fill.jpg') repeat-x;
}

.main {
  background:url('/img/int-bg.jpg') no-repeat center top;
}

.content-wrap {
  width:950px;
  margin:0 auto;
  position:relative;
  top:215px;
  margin-bottom:190px;
}

#sidebar {
  float:left;
  width:195px;
}

#sidebar ul {
  list-style:none;
  margin-top:50px;
}

#sidebar ul li {
  padding:0px;
  margin-left:25px;
}

#sidebar ul a {
  display:block;
  padding:2px 2px 2px 6px;
  width:150px
}

#sidebar ul a:hover {
  background-color:#efefef;
}

#content {
  float:left;
  width:750px;
}

#content p {
  color:#222;
}

#sidebar .active {
  font-weight:bold;
}
