body {
  background:url('/img/int-bg-fill.jpg') repeat-x;
}

.main {
  background:url('/img/int-bg.jpg') no-repeat center top;
}

.content-wrap {
  width:950px;
  margin:0 auto;
  position:relative;
  top:215px;
  margin-bottom:190px;
}

#sidebar {
  float:left;
  width:195px;
}

#content {
  float:left;
  width:750px;
  font-size:1.2em;
  font-family:Georgia, Times New Roman;
}

#content p {
  color:#222;
}

#sidebar .active {
  font-weight:bold;
}
